<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>		
		<!--Because of ARS we need to embeded the language in the url always. This will allow the mapping among sites-->
		<linkManager defaultProvider="sitecore">
			<providers>
				<clear />
				<add name="sitecore" type="Sitecore.Links.LinkProvider, Sitecore.Kernel" set:languageEmbedding="always"/>
			</providers>
		</linkManager> 
<!-- Custom Authorization Provider Reference -->
		<!--<authorization defaultProvider="sql">
			<providers>
				<add name="sql" type="Sitecore.Security.AccessControl.SqlServerAuthorizationProvider, Sitecore.Kernel" connectionStringName="core" set:connectionStringName="web" set:type="Genworth.SitecoreExt.Security.GenWebAuthorizationProvider, Genworth.SitecoreExt"/>
			</providers>
		</authorization>-->
		<settings>

      <setting name="Analytics.DefaultDefinitionDatabase">
        <patch:attribute name="value">web</patch:attribute>
      </setting>

      <setting name="ItemNotFoundUrl">
        <patch:attribute name="value">/ErrorPage/am_404.html</patch:attribute>
      </setting>
      <setting name="LinkItemNotFoundUrl">
        <patch:attribute name="value">/ErrorPage/am_404.html</patch:attribute>
      </setting>
      <setting name="LayoutNotFoundUrl">
        <patch:attribute name="value">/ErrorPage/am_404.html</patch:attribute>
      </setting>
      <setting name="ErrorPage">
        <patch:attribute name="value">/ErrorPage/am_Error.html</patch:attribute>
      </setting>
      
			<setting name="Genworth.SitecoreExt.Search.EventsAllURL" value="/en/Events/All.aspx"/>
			<setting name="Genworth.SitecoreExt.Search.EventsArchiveURL" value="/en/Events/Archive.aspx"/>
			<setting name="Genworth.SitecoreExt.Search.EventsWebinarURL" value="/en/Events/Webinars and Conference Calls.aspx"/>
			<setting name="Genworth.SitecoreExt.Search.EventsInPersonURL" value="/en/Events/In-Person.aspx"/>

			<!-- Context Provider-->
			<setting name="ServerLogic.SitecoreExtension.ContextProvider" value="ServerLogic.SitecoreExt.Implementations.BaseContextProvider, ServerLogic.SitecoreExt" />
			<setting name="ServerLogic.SitecoreExtension.ContentDatabase" value="web" />
			<setting name="ServerLogic.SitecoreExtension.DefaultConentRootPath" value="/sitecore/content" />
			<setting name="ServerLogic.SitecoreExtension.DefaultConentStartItem" value="/Home" />
			<setting name="ServerLogic.SitecoreExtension.Data.Remote.MaxNumberOfConnectionsAttempts" value="3" />

      <!-- Assetmark Settings-->
      <setting name="Assetmark.HomeImageLink" value="/sitecore/Assetmark/Shared Content/Navigation/AssetmarkLogo" />
			
			<setting name="Lucene.MaxResults" value="3000" />
			<setting name="Lucene.MaxResultsByCategory" value="5" />
			<setting name="Lucene.MinSimilarity" value="0.9" />
			<setting name="Lucene.MaxStringLength" value="4500" />
			<setting name="Lucene.MinCharsPrefixQuery" value="2" />
      
      <!-- Lucene Indexing Data format parsing -->
      <setting name="Genworth.SitecoreExt.Indexing.DataFormat.DateTimeStringFormat" value ="yyyyMMdd" />

      <!-- Remote location for css and js bundles -->
      <setting name="Genworth.SitecoreExt.Integrations.Ewm.BundleURL" value="http://localhost:81/common/resource" />
      <setting name="Genworth.SitecoreExt.Integrations.Ewm.Encoding" value="utf-8" />

      <!-- Tells system what mechanism you want to use for searching Sitecore indexes. Options are:
					local: searches without going over wcf
					remote: searches over wcf proxy
			-->

			<!-- Key for the Security Authorization Object saved in the http context -->
			<setting name="Genworth.SitecoreExt.Security.AuthorizationObject" value="Security.Authorization"/>						
			
			<setting name="Genworth.SitecoreExt.Security.SWTTestMode" value="true"></setting>
			<!-- SSOGuid test authorization configuration-->
			<setting name="Genworth.SitecoreExt.Security.SWTTestModeConfiguration" value="D:\CMMI\Source\Maintenance\Maintenance\CMS\Sitecore\CMSWeb\Website\SWTTest.xml"/>

			<!-- Remote location for header copy -->
			<!--<setting name="Genworth.SitecoreExt.Integrations.Header.URL" value="http://localhost:81/ewmlogin/route/aspcmsheader"/>-->
			  <setting name="Genworth.SitecoreExt.Integrations.Header.URL" value="http://localhost:82/media/html/header.html"/>
			<setting name="Genworth.SitecoreExt.Integrations.Header.Encoding" value="utf-8"/>

			<!-- Remote location for footer copy -->
			<!--<setting name="Genworth.SitecoreExt.Integrations.Footer.URL" value="http://localhost:81/ewmlogin/route/aspcmsfooter"/>-->			
			<setting name="Genworth.SitecoreExt.Integrations.Footer.URL" value="http://localhost:82/media/html/footer.html"/>
			<setting name="Genworth.SitecoreExt.Integrations.Footer.Encoding" value="utf-8"/>

      <!-- Remote location for css and js bundles -->
      <setting name="Genworth.SitecoreExt.Integrations.Ewm.BundleURL" value="http://localhost:81/common/resource"/>
      <setting name="Genworth.SitecoreExt.Integrations.Ewm.Encoding" value="utf-8"/>

      <!-- Pages item IDs -->
			<setting name="Genworth.SitecoreExt.Pages.NewsArchive" value=""/>
			<setting name="Genworth.SitecoreExt.Pages.EventSearch" value="{C2AAF982-628F-4A5E-A850-F83212AB948B}"/>
			<setting name="Genworth.SitecoreExt.Pages.Events.RegistrationPage" value="{9A2D3F55-142C-4EF2-85EB-C58DFC4BCD90}"/>
			<setting name="Genworth.SitecoreExt.Pages.Events.DefaultRegistrationEmailTemplate" value="{C4FAF7B3-5DBA-4501-BA8A-3EA4BF18A82E}"/>
			<setting name="Genworth.SitecoreExt.Pages.Administration.Documents" value="{DD58E79F-E212-4F58-95B8-AFF8B84CCE78}"/>
			<setting name="Genworth.SitecoreExt.Pages.Investments.Root" value="{F6F0FAA4-B904-42C0-B094-98434A0E06AC}"/>
			<setting name="Genworth.SitecoreExt.Pages.Investments.Comparison" value="{D43007F4-3F8C-4B59-97E5-CBE5C9DB89FC}"/>
			<setting name="Genworth.SitecoreExt.Pages.Investments.Performance" value="{4ADAFA73-3AEB-4046-B914-6316F0FBCA2E}"/>
			<setting name="Genworth.SitecoreExt.Pages.Investments.DocumentViewer" value="{8E685915-228B-42AA-B720-EA4EB28E3CB8}"/>
			<setting name="Genworth.SitecoreExt.Pages.Investments.Research" value="{3ACD9A69-3931-4E88-8C21-088894878587}"/>
			<setting name="Genworth.SitecoreExt.ShareContent.Investments.ManagersFolder" value="{DF0DF9DF-8868-4E29-93E6-8B169B77415C}"/>
			<setting name="Genworth.SitecoreExt.ShareContent.Investments.StrategitsFolder" value="{058A1557-E8A4-4A54-A3BF-395FDEF77479}"/>
			<setting name="Genworth.SitecoreExt.ShareContent.Investments.AllocationApproachFolder" value="{02100517-CB3A-428D-B530-00001719327E}"/>
			<setting name="Genworth.SitecoreExt.Pages.Investments.DocumentViewerClientView" value="{CE66D00C-4B6F-4E6B-A728-333663E61805}"/>
			<!-- Link item IDs -->
			<!-- This configuration has the ID of the item that represents the link displayed in the right of the second
			level menu on all the investments page -->
			<setting name="Genworth.SitecoreExt.ShareContent.Links.Investments.ProductLink" value="{693DB399-3EF1-4D75-B7EF-B77C8726BD49}"/>
			
			<setting name="Genworth.SitecoreExt.Pages.Investments.ResearchClientView" value="{B3BA7EF3-E349-4184-90E1-AB45B51950EF}"/>
			
			<!-- login page. Url where users will login to set the SSOGuid -->
			<setting name="Genworth.SitecoreExt.Security.LoginPage" value="/dnewm/logoff.aspx?errorcode=1004"/>
			<setting name="Genworth.SitecoreExt.Security.LoginPage.QueryString" value="&amp;returnUrl="/>

			<setting name="Genworth.SitecoreExt.Security.ClientSecuredSectionsThroughClientApprovedField" value="/sitecore/content/Home/InvestmentsClientView"/>
			
			<!-- GOOGLE API CONFIG BEGINS -->
			<setting name="Genworth.SitecoreExt.Integrations.Google.UseAPIKey" value="false"/>
			<setting name="Genworth.SitecoreExt.Integrations.Google.APIKey" value=""/>
			<setting name="Genworth.SitecoreExt.Integrations.Google.StaticMapBaseURL" value="https://maps.googleapis.com/maps/api/staticmap"/>
			<setting name="Genworth.SitecoreExt.Integrations.Google.GeocodingBaseURL" value="http://maps.googleapis.com/maps/api/geocode/xml"/>
      <setting name="Genworth.SitecoreExt.Integrations.Google.MapsClienSideBaseURL" value="https://maps.googleapis.com/maps/api/js?client=gme-genworthfinancial&amp;v=3.18"/>
			<!-- GOOGLE API CONFIG ENDS -->

			<!--GlobalSoft URL -->
			<setting name="Genworth.SitecoreExt.Pages.Marketing.GlobalsoftBaseURL" value="http://gsf.globalsoftdigital.com/gwm/SingleSignOn.aspx"/>


			<!--donelly URL-->
			<setting name="Genworth.SitecoreExt.Pages.Marketing.RDDBaseURL" value="https://xs.moorewallace.com/xs2/"/>
			<setting name="Genworth.SitecoreExt.Pages.Marketing.RDDAccount" value="AssetMark"/>
			<setting name="Genworth.SitecoreExt.Pages.Marketing.RDDPassword" value="AM1fulfill"/>
			<setting name="Genworth.SitecoreExt.Pages.Marketing.Ref" value="0123456789abcdefghijklmnopqrstuvwxyz._~ABCDEFGHIJKLMNOPQRSTUVWXYZ"/>

			<!--Marketing Tab Id-->
			<setting name="Genworth.SitecoreExt.Pages.Marketing.TabId" value="{4425DBF7-B1AA-498E-929F-2FB2FA96DC86}"/>

			<!--Standard Register URL-->
			<setting name="Genworth.SitecoreExt.Pages.Marketing.StandardRegisterLogonURL" value="https://env1.smartworks.com/SMWX/Account/AutoLogOn"/>
			<setting name="Genworth.SitecoreExt.Pages.Marketing.StandardRegisterXmlNamespace" value="http://www.standardregister.com/autologon"/>
			<setting name="Genworth.SitecoreExt.Pages.Marketing.StandardRegisterIssuer" value="1354827"/>
			<setting name="Genworth.SitecoreExt.Pages.Marketing.CostCenter" value="7206"/>
			<setting name="Genworth.SitecoreExt.Pages.Marketing.SourceSystemName" value="eWM"/>
			<setting name="Genworth.SitecoreExt.Pages.Marketing.FailureMessage" value="The Marketing Materials Ordering site is currently unavailable.  Please select the Order button to try again or contact Advisor Services for assistance.  We apologize for this inconvenience."/>
      <setting name="Genworth.SitecoreExt.Pages.Marketing.ReturnURL" value="http://wealth.assetmark.com/marketingportalthanks" />

      <!--Marcom Central-->
      <!-- Production Token -->
      <setting name="AssetMark.SitecoreExt.Pages.Marketing.MarcomCentral.PartnerCredentialsToken" value="BDE09A752A87F62711856999606DDFE3"/>
      <!-- QA/Test Token -->
      <!--<setting name="AssetMark.SitecoreExt.Pages.Marketing.MarcomCentral.PartnerCredentialsToken" value="C4D40566E15B15B40ECB8B81C21BC1B0"/>-->
      <setting name="AssetMark.SitecoreExt.Pages.Marketing.MarcomCentral.ImpersonatingSettingsPath" value="/sitecore/content/Home/Marketing/Portal/Impersonation/Internal User Settings" />

			<!-- Pagination -->
			<setting name ="Genworth.SitecoreExt.Pagination.PerPage" value="10"/>
			<setting name ="Genworth.SitecoreExt.Pagination.MinPerPage" value="1"/>
			<setting name ="Genworth.SitecoreExt.Pagination.MaxPerPage" value="1000"/>

			<!-- User roles Items configuration -->
			<setting name="Genworth.SitecoreExt.Security.ClientRoleItem" value="{C38EF3E0-EB5E-4CBB-AB22-57D32A454072}"/> 
			<setting name="Genworth.SitecoreExt.Security.AgentRoleItem" value="{158F7573-BD70-4F83-B95E-AA0C5D852674}"/>
			<setting name="Genworth.SitecoreExt.Security.OsjRoleItem" value="{0BFE2AAA-5F82-4321-B311-CD43FF59483E}"/>
			
			<!--FilterBar checked by defult-->
			<setting name="Genworth.SitecoreExt.Services.Investments.ModelPortfolio.SolutionTypeChecked" value="HIDE"></setting>
			<setting name="Genworth.SitecoreExt.Services.Investments.ModelPortfolio.CustodiansChecked" value="HIDE"></setting>
			
			<setting name="Genworth.SitecoreExt.Services.Investments.ModelPortfolio.AllowedCustodiansForDynamicDocuments" value=""/>
			<setting name="Genworth.SitecoreExt.Services.Investments.ModelPortfolio.AllowedSolutionsForDynamicDocuments" value="MF,ETF,VA,DS,MULTI,GPF"/>
			<!-- Template(s) Id to be hidden in Reseach, can be multiple [id]|[id]-->
			<setting name="Genworth.SitecoreExt.Services.Investments.Research.RemoveDocumentsFromTemplate" value="{0FEE6D61-A7F8-4892-9A4D-5889B6266A70}"/>
			
      <setting name="Genworth.SitecoreExt.Services.Investments.Research.CategoryChecked" value="ALL"></setting>
      <setting name="Genworth.SitecoreExt.Services.Investments.Research.StrategistChecked" value="ALL"></setting>
      <setting name="Genworth.SitecoreExt.Services.Investments.Research.ManagerChecked" value="ALL"></setting>
      <setting name="Genworth.SitecoreExt.Services.Investments.Research.AllocationApproachChecked" value="ALL"></setting>
      <setting name="Genworth.SitecoreExt.Services.Investments.Research.AudienceChecked" value="ALL"></setting>

			<setting name="Genworth.SitecoreExt.Services.Investments.Research.SourceChecked" value="HIDE"></setting>
			<setting name="Genworth.SitecoreExt.Services.Investments.ClientView.Research.CategoryChecked" value="HIDE"></setting>
			<setting name="Genworth.SitecoreExt.Services.Investments.ClientView.Research.SourceChecked" value="HIDE"></setting>
			<setting name="Genworth.SitecoreExt.Services.Investments.ClientView.Research.StrategistChecked" value="HIDE"></setting>
			<setting name="Genworth.SitecoreExt.Services.Investments.ClientView.Research.ManagerChecked" value="HIDE"></setting>
			<setting name="Genworth.SitecoreExt.Services.Investments.ClientView.Research.AllocationApproachChecked" value="HIDE"></setting>

			<!-- local - put indices in instance's default location; value="remote" uses search via web service with custom location-->
			<setting name="Genworth.SitecoreExt.Search.Mechanism" value="local"/>
			<!--<setting name="Genworth.SitecoreExt.Search.GenworthIndexRepositoryPath" value="D:\CMMI\Source\Development\Feature-FileBound\CMS\Sitecore\UI\Data\WebUI\indexes"/>-->
			<!--Search location settings-->
			<setting name="Genworth.SitecoreExt.Search.GenworthIndexRepositoryPath.web" value="D:\CMMI\Source\Development\Feature-FileBound\CMS\Sitecore\UI\Data\CMSAuthoring\indexes" />
			<setting name="Genworth.SitecoreExt.Search.SearchServiceDefaultDatabase" value="web"/>
      <setting name="Genworth.SitecoreExt.Search.DefaultSearchableArticleTypes" value="general"/>

      <setting name="ExternalMediaHandlerUri" value="http://localhost:82/ExternalContent/ExternalMedia.ashx?id="/>

		</settings>
		<databases>
			<database id="web" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel" >
				<Engines.HistoryEngine.Storage patch:after="*[1]">
					<obj type="Sitecore.Data.$(database).$(database)HistoryStorage, Sitecore.Kernel">
						<param connectionStringName="$(id)" />
					</obj>
				</Engines.HistoryEngine.Storage>
				<cacheSizes hint="setting">
					<data>200MB</data>
					<items>100MB</items>
					<paths>5MB</paths>
					<standardValues>5MB</standardValues>
				</cacheSizes>
			</database>
		</databases>
		<!-- Ends Lucene configuration -->

		<!--type="Sitecore.Data.Indexing.Index, Sitecore.Kernel"-->
	 <pipelines>
			<httpRequestBegin>
        <processor type="Genworth.SitecoreExt.Pipelines.HttpRequest.MimeTypeResolver, Genworth.SitecoreExt"
									patch:after="*[@type='Sitecore.Pipelines.PreprocessRequest.CheckIgnoreFlag, Sitecore.Kernel']"/>
				<!--<processor type="Genworth.SitecoreExt.Pipelines.HttpRequest.AuthorizationResolver, Genworth.SitecoreExt"
									patch:after="*[@type='Genworth.SitecoreExt.Pipelines.HttpRequest.AuthorizationResolver, Genworth.SitecoreExt']"/>-->
			</httpRequestBegin>
		</pipelines> 
	</sitecore>

</configuration>
