
@charset "UTF-8";

@font-face
{
    font-family: "Open Sans";
    font-weight: normal;
    src: url("Open_Sans/OpenSans-Regular.woff");
}

@font-face
{
    font-family: "Open Sans";
    font-weight: bold;
    src: url("Open_Sans/OpenSans-Bold.woff");
}

@font-face
{
    font-family: "Open Sans";
    font-weight: bold;
    font-style: italic;
    src: url("Open_Sans/OpenSans-BoldItalic.woff");
}

@font-face
{
    font-family: "Open Sans";
    font-weight: 800;
    src: url("Open_Sans/OpenSans-ExtraBold.woff");
}

@font-face
{
    font-family: "Open Sans";
    font-weight: 800;
    font-style: italic;
    src: url("Open_Sans/OpenSans-ExtraBoldItalic.woff");
}

@font-face
{
    font-family: "Open Sans";
    font-style: italic;
    src: url("Open_Sans/OpenSans-Italic.woff");
}

@font-face
{
    font-family: "Open Sans";
    font-weight: 300;
    src: url("Open_Sans/OpenSans-Light.woff");
}

@font-face
{
    font-family: "Open Sans";
    font-weight: 300;
    font-style: italic;
    src: url("Open_Sans/OpenSans-LightItalic.woff");
}

@font-face
{
    font-family: "Open Sans";
    font-weight: 600;
    src: url("Open_Sans/OpenSans-Semibold.woff");
}

@font-face
{
    font-family: "Open Sans";
    font-weight: 600;
    font-style: italic;
    src: url("Open_Sans/OpenSans-SemiboldItalic.woff");
}
