
html, body, form
{
    margin: 0;
    border: none;
    padding: 0;
}

.template
{
    display: none;
}

body
{
    background: linear-gradient(to bottom, #0e619d, #0f98fa);
    background-size: 1024px 768px; /* iOS 7 workaround */
    background-size: 100vw 100vh;
    background-attachment: fixed;
    font: bold 12px/15px "Open Sans";
    color: white;
}

a, .ipaItem a:visited {
    color: #085994;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #0963a5;
    font-weight: bold;
}

.banner
{
    background-color: white;
}

.bannerInner
{
    position: relative;
    background-image: url("AssetMarkLogo.png");
    background-position: 20px center;
    background-repeat: no-repeat;
    background-size: 141.5px 14px;
    margin: 0 auto;
    max-width: 1200px;
    height: 93px;
}

.banner .employeeOnly
{
    position: absolute;
    top: 60px;
    right: 22px;
    font: 14px/18px "Open Sans";
    color: #0963a5;
}

.sections
{
    margin: 0 auto;
    max-width: 1200px;
}

.sectionHeader
{
    font: bold 25px/28px "Open Sans";
    color: white;
    margin: 30px 22px 7px 22px;
}

.sectionGroup
{
    margin-top: 30px;
    margin-left: 7px;
}

.sectionPanel
{
    margin: 15px;
    border: 1.5px solid rgb(20,138,139);
    border-radius: 1px;
    padding: 45px 30px;
    background: #efefef;
    box-shadow: rgba(0,0,0,0.5) 0 0 13px;
    font: 16px/18px "Open Sans", sans-serif;
    color: black;
}

.ipaHeader {
    font: bold 18px/20px "Open Sans", sans-serif;
}

.ipaItems {
    border-top: 1px solid #ccc;
    font-size: 14px;
}

.ipaItem {
    padding: 18px 0;
    border-bottom: 1px solid #ccc;
}

.ipaName {
    display: inline-block;
    padding: 0 30px;
    cursor: pointer;
    font-weight: bold;
}

.ipaButton {
    float: right;
    padding: 0 30px;
    color: #0963a5;
    cursor: pointer;
}

.ipaUpload {
    display: inline-block;
    margin-top: 30px;
    color: #0963a5;
    font-size: 14px;
    cursor: pointer;
}

.modalPopup {
    display: none;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    margin: 0;
    border: none;
    padding: 0;
    font: 14px "Open Sans", sans-serif;
}

.modalBackdrop {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    border: none;
    padding: 0;
    background: rgba(0,0,0,0.5);
}

.modalDialogFrame {
    position: relative;
    margin: 75px auto 0 auto;
    border: 1px solid black;
    padding-top: 50px;
    width: 500px;
    min-height: 150px;
    background: white;
}

.modalNavigationBar {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgb(222,222,222);
    width: 100%;
    height: 49px;
    background: rgb(248,248,248);
}

.modalNavigationBar .modalButton {
    float: left;
    padding: 15px 20px;
    color: rgb(0,124,186);
    cursor: pointer;
}

.modalNavigationBar .modalButton.left {
    float: left;
}

.modalNavigationBar .modalButton.right {
    float: right;
}

.modalNavigationBar .modalTitle {
    padding: 15px 20px;
    text-align: center;
    font-weight: bold;
    color: black;
}

.modalButton:active, .modalButton:hover{
    color: #fff;
    background-color: rgb(0,124,186);
}

.modalContent {
    padding: 15px 20px;
    color: black;
}

.uploadBuildLabel {
    display: inline-block;
    width: 180px;
}

.uploadBuildLine {
    margin: 20px 0;
}

.uploadBuildEdit {
    width: 250px;
    padding: 5px 7px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.uploadBuildFile {
    width: 250px;
}

.uploadDelete {
    display: inline-block;
    margin-top: 15px;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #ff9988;
    cursor: pointer;
}
