/* Sitecore Default Stylesheet */

html {
  height:100%;
}

body {
  font-family: Tahoma, Arial, sans-serif;
  margin:0px;
  padding:0px;
  width:100%;
  height:100%;
}

#MainPanel {
  background:#e9e9e9;
  text-align:center;
  height:100%;
}

#CenterColumn 
{
  text-align:left;
  margin:auto;
  width:800px;
}

nav {

}

nav ul {
}

    nav li {
        background:#ccc; 
        padding:3px 5px;
        display: inline-block;
    }
    
    nav a { 
        color:#000;
        text-decoration:none;
    }

    nav a:hover {
        color:#ff0000;
    }

.home, .plain 
{
  background:white;
  margin:10px 0px 0px 0px;
  border-bottom:1px solid #bfbfbf;
  padding:16px 16px 48px 16px;
}

