.AdminTertiaryMenuContainer { margin: 10px 14px 0px; }
.AdminTertiaryMenu {
display: block;
margin: 0px 4px;
padding: 0px;
list-style: none;
color: #333;
font-family: Arial, Sans-Serif;
font-size: 14px;
text-align: left;
vertical-align:middle;
}
.AdminTertiaryMenu li 
{
display: inline;
margin: 0px;
margin-right: 1px;
padding: 0px;
text-indent: 0px;
list-style-type: none;
float: left;
position:relative;
vertical-align:middle;
/*height: 50px;*/
z-index: 1;
}
li.atmfirst {
max-width: 155px !important;
}
li.atmlast {
width: 135px !important;
}
.AdminTertiaryMenu li img {
position: absolute;
top: 0px;
left: -1px;
height: 30px;
width: 1px;
}
.AdminTertiaryMenu li a {
display: inline;
padding: 0 10px;
color: #369;
text-decoration: none !important;
vertical-align:middle;
line-height: 30px;
position: relative;
}
.AdminTertiaryMenu li a:hover { color: #0971b0; }
.AdminTertiaryMenu .selected, .AdminTertiaryMenu .selected:hover {
font-weight:bold;
}
.AdminTertiaryMenu .selected a, .AdminTertiaryMenu .selected a:hover { color: #333; }
