/*Carousel*/


/*Carousel Four Items Vertical*/
.carousel_four_items_vertical {
	width: 950px;
	height: 352px;
	background-color: #000;
	border-top: 18px solid #004b81;
	position: relative;
}

	.carousel_four_items_vertical .carousel_menu {
		position: absolute;
		right: 0px;
		width: 345px;
		z-index: 10;
	}

		.carousel_four_items_vertical .carousel_menu ul, .carousel_four_items_vertical .carousel_menu li {
			list-style: none;
			padding: 0px;
			margin: 0px;
		}

		.carousel_four_items_vertical .carousel_menu li {
			list-style: none;
			margin: 0;
			padding: 0;
			height: 88px;
		}

			.carousel_four_items_vertical .carousel_menu li a {
				font-size: 18px;
				width: 305px;
				display: block;
				height: 88px;
				color: #fff;
				line-height: 90px;
				text-align: left;
				margin-left: 21px;
				border: 1px solid white;
				border-width: 1px 0 0 1px;
				padding-left: 18px;
				background-color: #004b81;
			}

				.carousel_four_items_vertical .carousel_menu li a:hover {
					background: #4abde8;
					text-decoration: none;
					cursor: pointer;
				}

			.carousel_four_items_vertical .carousel_menu li.active {
				background: url("/CMSContent/Images/caroucel_current.png") no-repeat left center;
			}

				.carousel_four_items_vertical .carousel_menu li.active a {
					border-left-width: 0px;
					background-color: #4abde8;
					margin-left: 22px;
				}

			.carousel_four_items_vertical .carousel_menu li a img {
				vertical-align: middle;
				width: 18px;
				height: 18px;
				margin-left: 5px;
			}

		.carousel_four_items_vertical .carousel_menu .carousel_menuLogo a {
			background: #fff;
			height: 70px;
			display: block;
			margin-left: 21px;
			padding-top: 18px;
			padding-left: 51px;
		}

	.carousel_four_items_vertical .carouselContentItem.active {
		z-index: 3;
	}

	.carousel_four_items_vertical .carouselContentVideoItem .imgSlide {
		position: absolute;
		cursor: pointer;
	}

	.carousel_four_items_vertical .carouselContentItem img {
		height: 353px !important;
		width: 628px !important;
	}

/*Carousel Horizontal Menu Scroll Bottom*/
.carousel_horizontal_menu_scroll_bottom {
	background: #f3f3f3;
}

	.carousel_horizontal_menu_scroll_bottom .carousel_container {
		border-bottom: 2px solid #ccc;
		padding: 8px 14px;
	}

	.carousel_horizontal_menu_scroll_bottom .carouselItemContainer {
		display: none;
	}

		.carousel_horizontal_menu_scroll_bottom .carouselItemContainer.active {
			display: block;
		}

	.carousel_horizontal_menu_scroll_bottom .carouselContentItem {
		margin-bottom: 5px;
	}

#Planning .carousel_horizontal_menu_scroll_bottom .carouselItemContainer h3 {
	color: #444;
	text-align: center;
	font-size: 20px;
	margin-bottom: 5px;
}

.carousel_horizontal_menu_scroll_bottom .carouselMenuItem {
	cursor: pointer;
	float: left;
	width: 100px;
	margin-right: 25px;
	margin-bottom: 15px;
}

	.carousel_horizontal_menu_scroll_bottom .carouselMenuItem img {
		width: 100px !important;
		height: 55px !important;
		-moz-box-shadow: 3px 3px 3px 1px #999;
		-webkit-box-shadow: 3px 3px 3px 1px #999;
		box-shadow: 3px 3px 3px 1px #999;
		border: 1px solid #fff !important;
	}

#Planning .carousel_horizontal_menu_scroll_bottom .carouselMenuItem h4 {
	font-size: 10px;
	font-weight: bold;
	padding: 3px 5px;
}

.carousel_horizontal_menu_scroll_bottom .carousel_menuItems {
	position: relative;
	min-height: 212px;
}

.carousel_horizontal_menu_scroll_bottom #ui-carousel-next {
	position: absolute;
	right: 5px;
	top: 40%;
}

.carousel_horizontal_menu_scroll_bottom #ui-carousel-prev {
	position: absolute;
	left: 5px;
	top: 40%;
}

.carousel_horizontal_menu_scroll_bottom .carouselGroupItem {
	margin: 15px 0px 0px 40px;
	display: none;
}

	.carousel_horizontal_menu_scroll_bottom .carouselGroupItem.active {
		display: block;
	}

/* Carousel Bottom 4 Square*/
.carousel_bottom_4square {
	float: left;
}

	.carousel_bottom_4square .carouselItemContainer {
		position: absolute;
		display: none;
		z-index: 1;
	}

		.carousel_bottom_4square .carouselItemContainer.pre {
			display: block;
			z-index: 2;
		}

		.carousel_bottom_4square .carouselItemContainer.active {
			display: block;
			z-index: 3;
		}

		.carousel_bottom_4square .carouselItemContainer > img {
			display: block;
		}

		.carousel_bottom_4square .carouselItemContainer .imgSlide {
			cursor: pointer;
		}

	.carousel_bottom_4square .carousel_menu {
		background: #024;
		margin-bottom: 10px;
	}

		.carousel_bottom_4square .carousel_menu .carousel_menuItems {
			float: right;
			margin: 7px 10px;
		}

			.carousel_bottom_4square .carousel_menu .carousel_menuItems a {
				display: block;
				background: #fff;
				width: 24px;
				height: 10px;
				float: left;
				margin-left: 8px;
			}

				.carousel_bottom_4square .carousel_menu .carousel_menuItems a.active {
					background: #eb0;
				}

.planning_overview .carousel_four_items_vertical{
	border:none;
}