.consultantListing
{
    padding-top: 15px;
}
.consultantListing ul
{
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
}
.consultantListing li
{
    position: relative;
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 15px;
    text-indent: 0px;
}
.consultantListing .photo
{
    float: left;
    margin-right: 10px;
}
.consultantListing .name
{
    display: block;
    padding-top: 30px;
    font-size: 11px !important;
    color:Black;
}
.consultantListing p
{
    font-size: 11px !important;
}
.consultantListing .logo
{
    position: absolute;
    top: 0px;
    right: 0px;
}
.consultantListing hr
{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #888;
    padding-top:15px;
    margin: 0px auto;
    clear: left;
}

.quadrantSystem {  }

.quadrantSystem .quadrant { float:left; }

.quadrantSystem .quadrant1 {}

.quadrantSystem .quadrant2 {}

.quadrantSystem .quadrant3 
{
    clear: left;}

.quadrantSystem .quadrant4 {}


.PracticeManagement .quadrant  
{
                            
    /*padding-top: 50px;*/
    margin-top: 30px;
    margin-bottom: 15px;
    position: relative;
  }
    .PracticeManagement .complete {
	 width: 359px;   
  }
  .PracticeManagement .small {
	width: 235px;
  }

.PracticeManagement .quadrant h6  
{
    position: absolute;
    top: 0px;
    left: 0px;
    /*display: inline;*/
    display: none;
    padding-right: 50px;
    background-color: #FF0;
    font: 20px 'Lucida Sans', 'arial', 'sans-serif';
    background: transparent none no-repeat right center;
    color: #231F20;
    text-transform: uppercase;
    text-align: right;
    font-style: normal;
    
}
.PracticeManagement .quadrant img  
{
    display: block;
    padding-bottom: 10px;
}
.PracticeManagement .quadrant1 h6 { background-image: url(/CMSContent/Images/quadrant-icon-managing.png); }

.PracticeManagement .quadrant2 h6 { background-image: url(/CMSContent/Images/quadrant-icon-marketing.png); }

.PracticeManagement .quadrant3 h6 { background-image: url(/CMSContent/Images/quadrant-icon-optimizing.png); }

.PracticeManagement .quadrant4 h6 { background-image: url(/CMSContent/Images/quadrant-icon-empowering.png); }

.PracticeManagement .quadrant h6 sub 
{
    display: block;
    font: 14px 'Lucida Sans', 'arial', 'sans-serif';
    color: #727375;
    text-transform: lowercase;
}

.PracticeManagement .quadrant p 
{
    font: 10px 'Lucida Sans', 'arial', 'sans-serif';
    color: #191919;
}
.PracticeManagement .quadrant1 p, .PracticeManagement .quadrant3 p 
{
    padding-right: 20px;} 
.PracticeManagement .thumbnails a 
{
    padding: 15px;
}
.PracticeManagement .thumbnails img 
{
    width: 170px;
    height: 105px;
}

.blue { background-color: #EEF; }

.show-all 
{
    font-weight: bold !important;}

.toggler, .show-all 
{
    cursor: pointer;
    color: #16A;
    text-decoration: none;
    display: inline-block;}
.toggler:hover, .show-all:hover
{
    cursor: pointer;
    color: #16A;
    text-decoration: underline;}
.section .toggler,  .section .show-all
{
    float: right;
    font: 11px 'Lucida Sans', 'arial', 'sans-serif';
    padding: 2px 10px;
    }
.section .show-all
{
    font-size: 12px;
    }
    
.calculator-block {}
.calculator-block center 
{
    font: 22px 'Cardo', 'garamond', 'serif' !important;
    color: #16A;
    padding-bottom: 20px;}
.calculator-block > img 
{
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;}
.calculator-block > p 
{
    font-weight: bold;
    width: 300px;}
.calculator-list {
    margin: 0px;
    padding: 0px;
    text-indent: 0px;}
.calculator-list li 
{
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    text-indent: 0px;
    position: relative;
    white-space: normal;}
.calculator-list a 
{
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 11px;
    line-height: 15px;}
.calculator-list a:hover 
{
    text-decoration: underline;}
.calculator-list h6 
{
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    font-size: 11px;}
.calculator-list p {
    width: 350px;}
    


.KnowledgeCenter 
{
    padding-top: 10px;}
/*
.sidebar .KnowledgeCenter, .sidebar .withFullTopPadding, .aside .withFullTopPadding, .withFullTopPadding
{
    padding-top: 60px !important;}
*/
.KnowledgeCenter ul 
{
    margin: 0px;
    padding: 10px 0px 0px;
    text-indent: 0px;}
.KnowledgeCenter li 
{
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
    list-style-type: none;}
.KnowledgeCenter h4 
{
    font: 20px Arial,sans-serif;
    color: #004b81;
    padding-top: 15px;}
.sidebar h6 { padding-bottom: 10px;}
.withinAside h6 { padding-bottom: 0px;margin-bottom: 10px;}

#PracticeManagementOverview
{
    margin-left: 7px;
    padding:10px 0px 20px;
}

#PracticeManagementOverview .content
{
    margin-bottom: 20px; 
}

.grid-system.g982 .promos
{
    margin-bottom: 20px; 
}

.grid-system.g982 .promos .gc.c4
{
    width:300px;
    margin-left:26px;
    position:relative;
}

.grid-system.g982 .promos .gc.c4.first
{
    margin-left:0px;
}

.grid-system.g982 .promos h3 a
{
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    color: white;
    margin: 0;
    padding: 20px;
    position:absolute;
    font-family:Arial, sans-serif;
}
.html h5.content-title, .html h1.content-title
{
    color: #004B81;
    font: normal  28px/30px Arial,sans-serif;
    margin: 15px 0;
    padding: 0;
    text-transform: none;
}

.html h5
{
    color: #004B81;
    font: normal  22px/24px Arial,sans-serif;
    margin: 15px 0;
    padding: 0;
    text-transform: none;
}

.grid-system .c6.html, .grid-system .c6.html p, .grid-system .c6.html ul li
{
    color:#444;
    font: normal 12px/16px Arial,sans-serif;
}

.htmlTable-ILSAdvisor > table > tbody > tr {
	cursor: pointer;
}

.htmlTable > .filter-results-table thead th {
	white-space: normal;
	line-height: 15px;
	padding: 10px 12px 10px 14px !important;
	background-position-y: 4px;
}

.investment-level-status .PracticeManagement > .body-container {
	display: none;
}

.gray_content{
	background-color:#ddd;
	width: 360px;
	padding: 40px 20px 10px;
	margin-top:20px;
}

.reimbursement_table{
	border-collapse: collapse;
	margin-bottom:20px;
	border-left:none;
	width:100%;
	background:#e4f3f8;
}

.reimbursement_table th {
	background:#0f5e98;
	color:#fff;
}

.reimbursement_table td, .reimbursement_table th {
	border:1px solid #000;
	border-right:none;
	padding:10px;
}

.reimbursement_table td:first-child, .reimbursement_table th:first-child{
	border-left:none;
	background:#fff;
	width:210px;
	color:#000;
}