.tabs-wrapper 
{
    padding: 10px 0px;}
ul.tabs, ul.tab-content {
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
    list-style-type: none;
    position: relative;}
.tabs-wrapper > ul.tabs {}
.tabs-wrapper > ul.tabs > li 
{
    display: inline;
    float: left;
    list-style-type: none;
    background: transparent url(/CMSContent/Images/tab-sprite.png) no-repeat left top;
    margin: 0px 3px 0px 0px;
    position: relative;
    top: 1px;
    height: 32px;
    }

.tabs-wrapper > ul.tabs > li.first {}
.tabs-wrapper > ul.tabs > li:hover 
{
    background-position: left -32px;}
.tabs-wrapper > ul.tabs > li.selected 
{
    background-position: left -64px;
    z-index: +1;}
.tabs-wrapper > ul.tabs > li.selected.withHeader 
{
    background-position: left -96px;
    z-index: +1;}
.tabs-wrapper > ul.tabs > li.first {}
.tabs-wrapper > ul.tabs > li.last {}
.tabs-wrapper > ul.tabs > li.selected 
{
    color: #16A;}
.tabs-wrapper > ul.tabs > li > span,
.tabs-wrapper > ul.tabs > li > a 
{
    display: inline-block;
    cursor: pointer;
    margin: 0px 0px 0px 1px;
    padding: 2px 10px 0px;
    border-bottom: none;
    background: transparent url(/CMSContent/Images/tab-sprite.png) no-repeat right top;
    font-family: Oswald, Arial, sans-serif;
    font-size: 12px;
    line-height: 30px;
    vertical-align: middle;
    text-decoration: none;
    color: #FFF;}
.tabs-wrapper > ul.tabs > li:hover > span,
.tabs-wrapper > ul.tabs > li:hover > a
{
    background-position: right -32px;}
.tabs-wrapper > ul.tabs > li.selected > span,
.tabs-wrapper > ul.tabs > li.selected > a
{
    background-position: right -64px;
    color: #000;
    padding-top: 0px;
    line-height: 32px;}
.tabs-wrapper > ul.tabs > li.selected.withHeader > span,
.tabs-wrapper > ul.tabs > li.selected.withHeader > a
{
    background-position: right -96px;}
.tab-theater 
{
    position: relative;
    padding-top: 5px;
    padding-bottom: 15px;
    min-height: 300px;}
.tab-theater .tab-theater-top 
{
    position: absolute;
    top: 0px;
    left: 0px;
    zoom: 1;}
.tab-theater .tab-theater-bottom 
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    zoom: 1;}

.tabs-wrapper > .tab-theater > ul.tab-content 
{
    }
.tabs-wrapper > .tab-theater > ul.tab-content > li 
{
    display: none;}
.tabs-wrapper > .tab-theater > ul.tab-content > li.first {}
.tabs-wrapper > .tab-theater > ul.tab-content > li.last {}
.tabs-wrapper > .tab-theater > ul.tab-content > li.selected 
{
    display: block;}
.tabs-wrapper > .tab-theater > ul.tab-content > li > div 
{
    padding: 10px;
    margin: 0px;}
.tabs-wrapper > .tab-theater > ul.tab-content > li > div > .un-pad 
{
    margin: 0px -10px;}
.tabs-wrapper > .tab-theater > ul.tab-content > li > div.tab-header, div.tab-header
{
    background-color: #F4F4F4;
    border: 1px solid #d2d2d2;
    margin-top: -5px;}
.tab-theater > div.tab-header {padding: 10px;}
.hr-wrapper.below-tabs 
{
    margin: 5px 0px;
     padding: 10px;
     background: #f1f1f1 none;
     border: 1px solid #c6c6c6;}
     
.foot-cards 
{
    margin: 0px;
    padding: 5px 0px 0px;
    width: 962px;
    text-align: center;}
.foot-cards ul {
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
    display: inline;
    width: auto;}
.foot-cards li {
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
    list-style-type: none;
    width: 314px;
    min-width: 314px;
    max-width: 314px;
    height: 160px;
    min-height: 160px;
    max-height: 160px;
    overflow: hidden;
    float: left;
    background: transparent url(/CMSContent/Images/investments-foot-card.png) no-repeat left center;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
    
    }
.foot-cards li.pointer {cursor: pointer;}
.foot-cards li * {
    vertical-align: middle;
    line-height: 1.2em;}
.foot-cards li.last {margin-right: 0px;}
.foot-cards .html {padding: 30px;}

.foot-cards .center {}
.foot-cards h6 
{
    font-family: Oswald, Arial, sans-serif;
    font-size: 13px !important;
    font-weight: normal;
    padding-bottom: 10px;
    color: #000;
    }
.foot-cards p 
{
    color: #000;}
.foot-cards a 
{
    color: #16A;
    text-decoration: none;}
.foot-cards a:hover 
{
    text-decoration: underline;}
.foot-cards img {}