<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=sitecore;password=sitecore123;Data Source=AMDEVWKS2031518\SQLEXPRESS2012;Database=CMSSitecore_Core" />
  <add name="master" connectionString="user id=sitecore;password=sitecore123;Data Source=AMDEVWKS2031518\SQLEXPRESS2012;Database=CMSSitecore_Master" />
  <add name="web" connectionString="user id=sitecore;password=sitecore123;Data Source=AMDEVWKS2031518\SQLEXPRESS2012;Database=CMSSitecore_Web" />
  <add name="analytics" connectionString="user id=sitecore;password=sitecore123;Data Source=AMDEVWKS2031518\SQLEXPRESS2012;Database=Sitecore_Analytics" />	
</connectionStrings>
