<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="sitecore" type="Sitecore.Configuration.ConfigReader, Sitecore.Kernel" />
  </configSections>
  <sitecore>
    <databases>
      <!-- web -->
      <database id="web" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <param desc="name">$(id)</param>
        <icon>Network/16x16/earth.png</icon>
        <securityEnabled>true</securityEnabled>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/main" param1="$(id)">
            <disableGroup>publishing</disableGroup>
            <prefetch hint="raw:AddPrefetch">
              <sc.include file="/App_Config/Prefetch/Common.config" />
              <sc.include file="/App_Config/Prefetch/Web.config" />
            </prefetch>
          </dataProvider>
        </dataProviders>
        <proxiesEnabled>false</proxiesEnabled>
        <proxyDataProvider ref="proxyDataProviders/main" param1="$(id)" />
        <archives hint="raw:AddArchive">
          <archive name="archive" />
          <archive name="recyclebin" />
        </archives>
        <NotificationProvider type="Sitecore.Data.DataProviders.$(database).$(database)NotificationProvider, Sitecore.Kernel">
          <param connectionStringName="$(id)">
          </param>
          <param desc="databaseName">$(id)</param>
        </NotificationProvider>
        <cacheSizes hint="setting">
          <data>20MB</data>
          <items>10MB</items>
          <paths>500KB</paths>
          <standardValues>500KB</standardValues>
        </cacheSizes>
      </database>
      <!-- file system -->
      <database id="filesystem" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <param desc="name">$(id)</param>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/filesystem" param1="$(id)" />
        </dataProviders>
        <readonly>true</readonly>
        <securityEnabled>false</securityEnabled>
        <cacheSizes hint="setting">
          <data>0</data>
          <items>0</items>
          <paths>0</paths>
          <standardValues>0</standardValues>
        </cacheSizes>
      </database>
    </databases>
    <search>
      <analyzer type="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net" />
      <categorizer type="Sitecore.Pipelines.Search.CategorizeResults+Categorizer, Sitecore.Kernel">
        <Categories hint="raw:AddCategory">
          <category path="/sitecore/content" />
          <category displayName="Images">
            <templateID>{F1828A2C-7E5D-4BBD-98CA-320474871548}</templateID>
            <templateID>{DAF085E8-602E-43A6-8299-038FF171349F}</templateID>
            <templateID>{C97BA923-8009-4858-BDD5-D8BE5FCCECF7}</templateID>
            <templateID>{EB3FB96C-D56B-4AC9-97F8-F07B24BB9BF7}</templateID>
          </category>
          <category displayName="Documents">
            <templateID>{16692733-9A61-45E6-B0D4-4C0C06F8DD3C}</templateID>
            <templateID>{777F0C76-D712-46EA-9F40-371ACDA18A1C}</templateID>
            <templateID>{7BB0411F-50CD-4C21-AD8F-1FCDE7C3AFFE}</templateID>
            <templateID>{0603F166-35B8-469F-8123-E8D87BEDC171}</templateID>
            <templateID>{3DB3A3CA-A0A9-4228-994B-F70C8E99A1CE}</templateID>
            <templateID>{2A130D0C-A2A9-4443-B418-917F857BF6C9}</templateID>
            <templateID>{F57FB07D-332A-4934-AA67-0A629C5396E2}</templateID>
            <templateID>{CC80011D-8EAE-4BFC-84F1-67ECD0223E9E}</templateID>
          </category>
          <category path="/sitecore/media library" />
          <category path="/sitecore/layout/devices" />
          <category path="/sitecore/layout/layouts" />
          <category path="/sitecore/layout/sublayouts" />
          <category path="/sitecore/layout/renderings" />
          <category path="/sitecore/layout" />
          <category templateIDs="{455A3E98-A627-4B40-8035-E683A0331AC7}" displayName="Template Fields" />
          <category templateIDs="{E269FBB5-3750-427A-9149-7AA950B49301}" displayName="Template Sections" />
          <category path="/sitecore/templates/branches" />
          <category path="/sitecore/templates/system" displayName="System Templates" />
          <category path="/sitecore/templates" />
          <category path="/sitecore/system/aliases" />
          <category path="/sitecore/system/languages" />
          <category path="/sitecore/system/workflows" />
          <category path="/sitecore/system" />
          <category path="/sitecore/content/applications/control panel" database="core" />
          <category path="/sitecore/content/applications" database="core" />
        </Categories>
      </categorizer>
      <configuration type="Sitecore.Search.SearchConfiguration, Sitecore.Kernel" singleInstance="true">
        <indexes hint="list:AddIndex">
          <index id="system" type="Sitecore.Search.Index, Sitecore.Kernel">
            <param desc="name">$(id)</param>
            <param desc="folder">__system</param>
            <Analyzer ref="search/analyzer" />
            <locations hint="list:AddCrawler">
              <core type="Sitecore.Search.Crawlers.DatabaseCrawler,Sitecore.Kernel">
                <Database>core</Database>
                <Root>/sitecore/content</Root>
                <include hint="list:IncludeTemplate">
                  <application>{EB06CEC0-5E2D-4DC4-875B-01ADCC577D13}</application>
                </include>
                <Tags>application</Tags>
                <Boost>2.0</Boost>
              </core>
              <core-controlpanel type="Sitecore.Search.Crawlers.DatabaseCrawler,Sitecore.Kernel">
                <Database>core</Database>
                <Root>/sitecore/content/applications/control panel</Root>
                <include hint="list:IncludeTemplate">
                  <taskoption>{BDB6FA46-2F76-4BDE-8138-52B56C2FC47E}</taskoption>
                </include>
                <Tags>taskoption</Tags>
                <Boost>1.9</Boost>
              </core-controlpanel>
              <master type="Sitecore.Search.Crawlers.DatabaseCrawler, Sitecore.Kernel">
                <Database>master</Database>
                <Tags>master content</Tags>
              </master>
            </locations>
          </index>
        </indexes>
      </configuration>
    </search>
    <!-- USERS -->
    <userManager defaultProvider="default" enabled="true">
      <providers>
        <clear />
        <add name="default" type="Sitecore.Security.Accounts.UserProvider, Sitecore.Kernel" />
      </providers>
    </userManager>
    <!-- ROLES -->
    <rolesInRolesManager defaultProvider="sql" enabled="true">
      <providers>
        <clear />
        <add name="sql" type="Sitecore.Security.Accounts.SqlServerRolesInRolesProvider, Sitecore.Kernel" connectionStringName="core" rolesInRolesSupported="true" globalRolesConfigStoreName="globalRoles" raiseEvents="true" />
      </providers>
    </rolesInRolesManager>
    <!-- AUTHORIZATION -->
    <authorization defaultProvider="sql">
      <providers>
        <clear />
        <add name="sql" type="Sitecore.Security.AccessControl.SqlServerAuthorizationProvider, Sitecore.Kernel" connectionStringName="core" embedAclInItems="true" />
      </providers>
    </authorization>
  </sitecore>
  <appSettings>
    <add key="secureFilePath" value="D:\CMMI\Source\Development\Dev.2015.10.2\CMS\Sitecore\RCTool\Test\TestRCToolService\Secure"/>
    <add key="nonSecureFilePath" value="D:\CMMI\Source\Development\Dev.2015.10.2\CMS\Sitecore\RCTool\Test\TestRCToolService\NonSecure"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webhttp">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="TestRCToolService.Service1">
        <endpoint address="" binding="webHttpBinding" contract="TestRCToolService.IService1" behaviorConfiguration="webhttp">
        </endpoint>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="webhttp" transferMode="Streamed">
          <security mode="None">
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />

    <!--<urlCompression doDynamicCompression="true" />-->
  </system.webServer>
  
</configuration>
