@using Sitecore.Mvc

<div class="callout">
    <div class="title">
        @Html.Sitecore().Field("Title")
    </div>
    <div class="body">
        @Html.Sitecore().Field("Body")
    </div>
    <div class="link">
        @Html.Sitecore().Field("Link")
    </div>
</div>