<div id="content" class="container">
    <div id="content-main" class="unit unit-main">

       @Html.Sitecore().Placeholder("Menu")



        <div id="content-page">
            @Html.Sitecore().Placeholder("PageContent")

        </div><!--content-page-->
    </div><!--content-main-->

    <span class="sidebar-banner-internal"></span>
    <div id="sidebar" class="unit unit-sidebar">
        @Html.Sitecore().Placeholder("Sidebar")
    </div><!--sidebar-->
</div>