<services>
    <service name="Genworth.SitecoreExt.Services.Investments.ResearchService">
		<endpoint address="" binding="webHttpBinding" behaviorConfiguration="json"
			contract="Genworth.SitecoreExt.Services.Investments.IResearchService" />
    </service>
	
    <service name="Genworth.SitecoreExt.Services.Investments.ManagerSearchService">
		<endpoint address="" binding="webHttpBinding" behaviorConfiguration="json" 
			contract="Genworth.SitecoreExt.Services.Investments.IManagerSearchService" />
    </service>
	
    <service name="Genworth.SitecoreExt.Services.Policies.PoliciesService">
		<endpoint address="" binding="webHttpBinding" behaviorConfiguration="json" 
			contract="Genworth.SitecoreExt.Services.Policies.IPoliciesService" />
    </service>
	
    <service name="Genworth.SitecoreExt.Services.Content.NavigationContentService">
		<endpoint address="" binding="webHttpBinding" behaviorConfiguration="json" 
			contract="Genworth.SitecoreExt.Services.Content.INavigationContentService" />
    </service>
	
    <service name="Genworth.SitecoreExt.Services.Events.EventsService">
      <endpoint address="" binding="webHttpBinding" behaviorConfiguration="json"
        contract="Genworth.SitecoreExt.Services.Events.IEventsService" />
    </service>
	
    <service name="Genworth.SitecoreExt.Services.Marketing.MarketingService">
      <endpoint address="" binding="webHttpBinding" behaviorConfiguration="json"
        contract="Genworth.SitecoreExt.Services.Marketing.IMarketingService" />
    </service>
	
	<service name="Genworth.SitecoreExt.Services.Content.ContentItemService">
	  <endpoint address="" binding="webHttpBinding" behaviorConfiguration="json"
		contract="Genworth.SitecoreExt.Services.Content.IContentItemService" />
	</service>
 </services>