<client>
	<endpoint name="PROXY.GlobalSearch.App.Service"
		address="net.tcp://localhost:57035/GlobalSearchService/GlobalSearchService.svc"
		binding="netTcpBinding"
		bindingConfiguration="GFWMServiceBindingConfig"
		contract="GFWM.Shared.Interface.IRequestResponse" />	

	<endpoint name="PROXY.SWT.Service" 
    address="net.tcp://localhost:57031/SecuritySWTService/SecurityTokenService.svc" 
    bindingConfiguration="GFWMServiceBindingConfig" 
    behaviorConfiguration="Debug" 
    binding="netTcpBinding" 
    contract="GFWM.Shared.Interface.IRequestResponse" />
						
	<endpoint name="PROXY.SWT.AuthService" 
    address="net.tcp://localhost:57031/SecuritySWTService/SecurityTokenAuthenticationService.svc" 
    binding="netNamedPipeBinding" 
    contract="GFWM.Shared.Interface.IRequestResponse" />
  
	<endpoint name="PROXY.App.Preference.Service" 
    address="net.tcp://localhost:57036/PreferenceService/PreferenceService.svc" 
    binding="netTcpBinding" 
    bindingConfiguration="GFWMServiceBindingConfig" 
    contract="GFWM.Shared.Interface.IRequestResponse" />
				   
	<endpoint name="PROXY.State.Service" 
    address="net.tcp://localhost:57033/StatePersistenceService/StatePersistenceService.svc" 
    binding="netTcpBinding" 
    bindingConfiguration="GFWMServiceBindingConfig" 
    contract="GFWM.Shared.Interface.IRequestResponse" />
					
	<endpoint name="PROXY.AUM.App.Service" 
    address="net.tcp://localhost:57032/AccountAnalysisService/AccountAnalysisService.svc" 
    binding="netTcpBinding" 
    bindingConfiguration="GFWMServiceBindingConfig" 
    behaviorConfiguration="GFWMClientBehaviour" 
    contract="GFWM.Shared.Interface.IRequestResponse" />
  
  <endpoint name="PROXY.UserProfile.App.Service" 
    address="net.tcp://localhost:57039/UserProfileService/UserProfileService.svc" 
    binding="netTcpBinding" 
    bindingConfiguration="GFWMServiceBindingConfig" 
    contract="GFWM.Shared.Interface.IRequestResponse" />

  <endpoint name="CONTENT_SERVICE_PROXY" 
    address="net.tcp://localhost:57014/ContentProxyService/ContentProxyService.svc" 
    binding="netTcpBinding" 
    bindingConfiguration="GFWMServiceBindingConfig" 
    contract="AM.ContentService.Service.Interface.IContentService" />

  <!-- Marcom Central Production environment -->
  <endpoint address="https://services.printable.com/TRANS/0.9/SSO.asmx"
    binding="basicHttpBinding" bindingConfiguration="SingleSignOnSoap"
    contract="SingleSignOnSoap" name="SingleSignOnSoap" />
  
  <endpoint address="https://services.printable.com/TRANS/0.9/SSO.asmx"
      binding="customBinding" bindingConfiguration="SingleSignOnSoap12"
      contract="SingleSignOnSoap12" name="SingleSignOnSoap12" />

  <!-- Marcom Central Test environment -->
  <!--<endpoint address="https://services.pj1.staging.printable.com/TRANS/0.9/SSO.asmx"
    binding="basicHttpBinding" bindingConfiguration="SingleSignOnSoap"
    contract="SingleSignOnSoap" name="SingleSignOnSoap" />

  <endpoint address="https://services.pj1.staging.printable.com/TRANS/0.9/SSO.asmx"
      binding="customBinding" bindingConfiguration="SingleSignOnSoap12"
      contract="SingleSignOnSoap12" name="SingleSignOnSoap12" />-->
</client>