<behaviors>
    <endpointBehaviors>
      <behavior name="Debug">
        <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        <callbackDebug includeExceptionDetailInFaults="true" />
      </behavior>
      <behavior name="GFWMClientBehaviour">
        <dataContractSerializer maxItemsInObjectGraph="2147483647" />
      </behavior>
      <behavior name="json">
        <webHttp />
      </behavior>
      <behavior name="wf_GenAuth.services.MarketingAspNetAjaxBehavior">
        <enableWebScript />
      </behavior>
    </endpointBehaviors>
</behaviors>